<div id="cust"class="showcase">
  <div class="container">
    <div class="rside">
        <div class="container">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>#</th>
                  <th>الصنف</th>
                  <th>الكمية</th>
                  <th>سعر الوحدة</th>
                  <th>السعر الاجمالي</th>
                </tr>
              </thead>
              <tbody>
                {{#each debts}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{debt_type}}</td>
                  <td>{{debt_quantity}}</td>
                  <td>{{debt_price}}</td>
                  <td>{{getTotal debt_quantity debt_price}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div class="total">
            <h4>المجموع</h4>
            <h3>{{getDebtsTotal debts}}</h3>
          </div>

        </div>
    </div>
    <div class="lside">
      <div class="container">
        <div class="userimage">
        <img src="/images/old.png" alt="cimage">
        </div>
        <div class="cinfo">
          <h5>الاسم:{{name}}</h5>
          <h4>مجموع الديون : {{getDebtsTotal debts}}</h4>
          <div class="userInfo">
            <h5>رقم الجوال:{{phone}}</h5>
            <h5>العنوان : {{address}}</h5>
          </div>
        </div>
        <div class="adddebt_button">
        <a href="./debt"><img src="/images/add_dept.png" alt="add debt"></a>
        </div>
      </div>
    </div>
  </div>
</div>
{{>addDebtPopup}}
